@charset "UTF-8";

body {
	overflow-y:scroll;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.left {
	background: #17afeb;
	padding-left: 180px;
	padding-right: 30px;
	float: left;
	height: 50px;
}

.middle {

	border: 15px;
	background: blue;
	height: 50px;
}

.right {
	margin-left: 180px;
	margin-right: auto;
	text-align: left;
	border: 15px;
	background: #17afeb;
	height: 50px;
}

#logout_btn {
	margin: 10px;
	float: right;
}

.btn_container {
	text-align: center;
	font-size: 14px;
	height: 40px;
	padding: 10px;
}

#category {
	width: 180px;
	height: 30px;
}

#textbox {
	width: 360px;
	height: 30px;
}

#add_btn {
	margin: 10px;
	float: right;
}


.tb_left {
	width: 400px;
}

.center {
	text-align: center;
}
body {
	background: white;
	margin: 0 auto;

}

header {
	background: skyblue;
	text-align: center;
	height: 150px;
}

main {
	background: white;
	padding-left: : 300px;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
}

p {
	text-align: center;
}

footer {
	background: lightgray;
	margin: auto;
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 50px;
}

h1 {
	margin: 0;
	padding: 0;
	border: 0;
}
h2 {
	text-align: center;
}




/* テーブル */
table {
	vertical-align:middle;
	width: 900px;
	border-collapse: collapse;
	margin-top: 20px;

}

th {
	border: 1px gray solid;
	padding: 4px;
	text-align: center;
	background-color: gainsboro;

}

td {
	height: 40px;
	border: 1px gray solid;
	padding: 4px;
}

td.memo {
	width: 430px;
	text-align: left;
	padding-left: 15px;
}

td.category {
	width: 130px;
	text-align: center;
}

td.date {
	width: 130px;
	text-align: center;
}

td.button {
	width:  40px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}
